@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    background-color: #1E4E54;
    color: white;
    font-family: 'Roboto', sans-serif;
}

html,body{
    margin:0;
    padding:0;
}

/*div {
    border: 1px;
    border-color: black;
    border-style:solid;
}
*/

header{
    font-size: 15px;
}

.navigaatio {
    background-color: #50b9c1;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.navigaatio a {
    float: left;
    color:white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 16px 35px;
  }

.navigaatio a.aktivoitu {
    background-color: #B01513;
    font-size: 22px;
    color: white;
  }

  section {
    width: 90%;
    margin: auto;
    font-size: 18px;
  }

  section a {
    color: white;
  }

  section p.valiotsikko {
    color: white;
    font-size: 19px;
    text-decoration: underline;

  }

  section img{
    width: 30%;
    padding: 10px 0px 10px 0px 
  }


  footer {
    background-color: #50b9c1; 
    margin: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: black;
    padding: 5px;
  }


    @media only screen and (min-width: 700px) {
        section {
            width: 75%;
          }

        .navigaatio a {
            font-size: 22px;
            padding: 20px 40px;
          }
        
        .navigaatio a.aktivoitu {
            font-size: 25px;
          }
      }

    @media only screen and (min-width: 1025px) {
        section {
            width: 55%;
          }
          header{
            font-size: 20px;
            margin: 0px; 
            padding: 10px 
        }
        .navigaatio a {
            font-size: 25px;
            padding: 20px 40px;
          }
        
        .navigaatio a.aktivoitu {
            font-size: 27px;
          }
      }
